/* App-wide styling */
body {
    background-color: black;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#open-button {
    border-radius: .25rem;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      color: #fff;
      -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      height: 40px;
      font-size: 0.7rem;
      line-height: 14px;
      letter-spacing: 1.2px;
      transition: .2s .1s;
      background-image: linear-gradient(90deg,#1c1c1c,#427A43);
      border: 0 solid;
      overflow: hidden;
}

#open-button:hover {
    cursor: pointer;
      transition: all .3s ease-in;
      padding-right: 30px;
      padding-left: 30px;
}


#clear-button {
    border-radius: .25rem;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      color: #fff;
      -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      height: 40px;
      font-size: 0.7rem;
      line-height: 14px;
      letter-spacing: 1.2px;
      transition: .2s .1s;
      background-image: linear-gradient(90deg,#1c1c1c,#C3110C);
      border: 0 solid;
      overflow: hidden;
      margin-left: 20px;
}

#clear-button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
}


#rename-split-button {
    border-radius: .25rem;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 25px;
      color: #fff;
      -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
      height: 40px;
      font-size: 0.7rem;
      line-height: 14px;
      letter-spacing: 1.2px;
      transition: .2s .1s;
      background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
      border: 0 solid;
      overflow: hidden;
      margin-left: 20px;
}

#rename-split-button:hover {
    cursor: pointer;
      transition: all .3s ease-in;
      padding-right: 30px;
      padding-left: 30px;
}

#header {
    max-width: 1200px;
}